<?xml version="1.0"?>
<robot name="cloth">
    <link name="cloth">
        <visual>
            <geometry>
                <mesh filename="../mesh/cloth.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/cloth.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>